.dashboard {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}


.search {
    background-color: rgb(0, 255, 106);
    border-radius: 8px;
}

.search input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    outline: none;
    padding-left: 30px;
}

.dashboard #city-input {
    height: 30px;
    border-radius: 8px;
    border: inherit;
}



.general {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general h1 {
    padding-top: 13px;
    font-size: 27px;
    margin-bottom: 5px;
}

.general img {
    width: 30%;
}

.special {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    /* ++++++++++++++++ */
    /* ++++++++++++++++ */
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}

.special p {
    padding-top: 10px;
    font-size: 14px;
}

.special h2 {
    padding-bottom: 10px;
}

.special article {
    text-align: center;
}

.special img {
    width: 40%;
    height: 30%;
}


.special::-webkit-scrollbar {
    width: 0px;
}

.special::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.dashboard .special,
.extra {
    /* border: solid 1px white; */
    background-color: rgb(0, 255, 106);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.extra {
    justify-content: space-around;
}

.extra .statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
}

.extra div * {
    padding: 10px;
}
