.menu {
    background-repeat: no-repeat;
    /* border: solid 1px white; */
    background-color: rgb(35, 54, 43);
    border-radius: 8px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
}

.menu img {
    opacity: 0.5;
    width: 70%;
}

.setting {
    display: none;
    border-radius: 7px;
    padding: 5%;
    padding-bottom: 100%;

    background-color: rgb(35, 54, 43);
    width: 180%;
    text-align: left;
}

.setting label {
    padding-left: 5px;
    margin-top: 50px;
}

select {
    border: solid #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(158, 158, 158);
    color: #333;
    width: 100%;
    cursor: pointer;
}

.icon:hover {
    .setting {
        display: block;
    }
}

.menu img:hover {
    opacity: 40%;
}
